.io-chevron-down-sharp {
  padding-left: 5px;
  width: 25px;
  height: 25px;
  color: var(--blue);
}
.dropdown {
  position: absolute;
  display: block;
  flex-direction: column;
  top: -200px;
  width: 125px;
  opacity: 1;
  transition: all 0.5s ease;
  background-color: var(--darkBlue);
  padding: 1rem 1rem 0;
  z-index: -1;
}
.dropdown.active {
  top: 76px;
  opacity: 1;
  transition: all 0.5s ease;
  background-color: var(--darkBlue);
  padding: 1rem 1rem 0;
  overflow: hidden;
}
.desactive {
  display: none;
}
@media screen and (max-width: 960px) {
  .io-chevron-down-sharp {
    position: absolute;
    width: 30px;
    height: 30px;
    color: var(--blue);
  }
  .dropdown.mobile {
    display: block;
    flex-direction: column;
    top: -300px;
    width: 45%;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: var(--black);
    padding: 1rem 2.5% 0;
  }
  .dropdown.mobile.active {
    top: 95px;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: var(--black);
    padding: 1rem 2.5% 0;
    overflow: hidden;
    z-index: 10;
  }
  .desactive {
    display: none;
  }
}
