.navbar {
  align-items: center;
  background-color: var(--black);
  height: 80px;
  font-size: 1.2rem;
  display: flex;
}

.logo {
  justify-self: start;
  margin: 0 20px;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.img {
  margin: 5px 0.4rem 0;
}

.logo-span {
  text-decoration: none;
  color: var(--whitePure);
}
.menu-icon {
  display: none;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 85vw;
  justify-content: end;
}

.desactive {
  display: none;
}
@media screen and (max-width: 960px) {
  .desactive {
    display: none;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .io-close {
    color: var(--whitePure);
    font-size: 2rem;
  }
  .io-menu {
    font-size: 2rem;
    color: var(--whitePure);
  }
  .menu-mobile {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 0;
  }
  .menu-mobile.active {
    background: var(--darkBlue);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
}
@media screen and (max-width: 500px) {
  .logo-span {
    display: none;
  }
}
