.content-footer{
    display:flex;
    justify-content:space-around;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--black);
    color: var(--whitePure);
    max-height: 80px;
    align-items: center;
    margin-top:40px;
}
.image-mochila{
  width:100px;
  height:80px;
}
.imagen-cont{
  display:flex;
align-items: center;
}
.items{
  display:flex;
align-items: center;
}