.social{
    margin: 290px;
    display:flex;
}

p{
    align-items: flex-start;
    font-size: 20px;
}

.footer-links{
        background: var(--black);
        color: var(--whitePure);
}

.footer-container{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
}

img{
    width: 40px;
}

.Mochila{
    width: 66px;
    margin-left: 60px;
}

.footer-container{
    max-height: 86px;
}

div{
    align-items: flex-start;
}