.content-cards {
  background-color: var(--black);
  height: 100%;
  width: 90%;
  margin: 2% 5% 0;
  border-radius: 2px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  object-fit: contain;
}
